.footer {
    height: auto;
    padding: 10px 0 0;
    background-color: var(--color-dark);
    color: var(--color-white);
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 100%;
    margin: auto;
    margin-bottom: 30px;
    max-width: 1450px;
}

.footer .container .top {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 0 20px;
}

.footer .container h2 {
    margin-bottom: 10px;
    color: var(--color-primary);
}

.footer .container p {
    color: var(--color-light);
}

.footer .container b {
    color: var(--color-secondary);

}

.footer .container .contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 0 20px;
}

.footer .copy {
    background-color: var(--color-black);
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: small;
}

.footer .copy span {
    cursor: pointer;
    color: var(--color-primary);
}



/*  */
/* MEDIA QURIES FOR SMALL TABLETS AND MOBILE PHONES */
/*  */
@media screen and (max-width: 740px) {
    .footer {}
}