.nav {
    width: 100%;
    background-color: var(--color-primary);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    height: 65px;
}

.nav .container {
    height: 100%;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1450px;
}

.nav .container .menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav .container .menuSm {
    display: none;
    position: absolute;
    height: 0;
    top: 80px;
    right: 2rem;
    padding: 1rem;
    width: 230px;
    z-index: 1;
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    backdrop-filter: blur(15px);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.nav .container .menuSm.open {
    height: min-content;
}

.nav .container .logo {
    color: var(--color-black);
    cursor: pointer;
}

.nav .container .menu>li, .nav .container .menuSm>li {
    text-align: center;
    cursor: pointer;
    color: var(--color-dark);
    transition: all .2s ease-in;
}

.nav .container .menu>li:hover {
    /* font-weight: bold; */
    opacity: 0.8;
    scale: 1.05;
    opacity: 0.9;
}

.nav .container .menu>li:active {
    scale: 0.95;
}

/* .nav .container .menuSm>li:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    opacity: 0.8;
} */

.nav .container .cta {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.25s ease;
    font-size: .85rem;
    background-color: var(--color-secondary);
    font-weight: bold;
    text-align: center;
}


.nav .container .cta:hover {
    scale: 1.05;
    opacity: 0.9;
}

.nav .container .cta:active {
    scale: 0.95;
}

.nav .container .icon {
    display: none;
}

/* Additional */
.nav .container .menuSm>a, .open>a {
    display: flex;
    justify-content: center;
    color: var(--color-dark);
}

.nav .container .menuSm>a:visited, .open>a:visited {
    color: var(--color-dark);
}

/*  */
/* MEDIA QURIES FOR SMALL TABLETS AND MOBILE PHONES */
/*  */
@media screen and (max-width: 810px) {
    .nav {
        height: 70px;
    }

    .nav .container .icon {
        display: block;
        cursor: pointer;
        color: var(--color-secondary);
    }

    .nav .container .menuSm.open {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .nav .container .menu {
        display: none;
    }

    .nav .container>a .cta {
        display: none;
    }

    .nav .container .menuSm>li {
        color: var(--color-dark);
        padding: 3px 5px;
    }

    .nav .container .menuSm .cta {
        font-size: .75rem;
    }
}



/*  */
/* MEDIA QURIES FOR MOBILE PHONES AND SMALL PHONES */
/*  */
@media screen and (max-width: 575px) {
    .nav .container {
        width: 90%;
    }

    .nav .container .menuSm {
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }
}