.staff {
    background-color: var(--color-secondary);
    /* background-color: #c6efbe; */
    width: 100%;
    height: auto;
}


.staff .container, .partners .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 0 35px;
    gap: 20px;
    text-align: center;
    max-width: 1400px;
}

.top {
    /* height: 100px; */
}

.top h2 {
    margin-bottom: 10px;
}


.top h3 {
    margin-bottom: 7px;
    color: var(--color-dark);
}

.top p {
    margin-bottom: 5px;
    color: var(--color-dark);
}



/* Item Component */
.item {
    margin: 1rem;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--color-primary);
    height: 380px;
    width: 250px;

    display: flex;
    flex-direction: column;
}

.item .img {
    height: 77%;
}

.item .img img {
    height: 100%;
    object-fit: cover;
}

.item h2 {
    margin: 15px 0 5px;
    font-size: larger;
}

.item h3 {
    font-size: medium;
    color: var(--color-danger);
}

/* PARTNERS */
.partners {
    margin: 40px 0 0;
    background-color: var(--color-third);
}


.partners h2 {
    margin-bottom: 10px;
    color: var(--color-black);
}

.partners p {
    margin-bottom: 5px;
    color: var(--color-dark);
}